/vendor/

/node_modules/

*.log
*.cache
*.tmp
*.swp
/.env
/.env.local

/cache/
/storage/framework/cache/
/storage/framework/views/
/storage/logs/
/bootstrap/cache/

/public/storage/
/public/uploads/

/.vscode/

.DS_Store
Thumbs.db

/.idea/
/build/
/dist/
/coverage/
*.gz
*.zip
*.tar

Desktop.ini
$RECYCLE.BIN/

*.bak
*.tmp*.temp
*.log

composer.lock

/.gitlab-ci.yml
/.github/